/Labs/2-logic/Visio/
/Labs/01-gates/Lab1_Vit_Janos.pdf
/Labs/02-logic/Lab2_Vit_Janos.pdf
/Labs/03-vivado/Lab3_Vit_Janos.pdf
/Labs/04-segment/Lab4_Vit_Janos.pdf
/Labs/05-counter/Lab5_Vit_Janos.pdf
/Labs/06-display_driver/Lab6_Vit_Janos.pdf
/Labs/07-ffs/Lab7_Vit_Janos.pdf
/Labs/08-traffic-lights/Lab8_Vit_Janos.pdf